@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background: linear-gradient(
    180deg,
    rgba(47, 214, 117, 1) 20%,
    rgba(255, 255, 255, 1) 100%
  );
  display: flex;
  flex-direction: column;
  padding: 0 3%;

}
.nav {
  display: flex;
  flex-direction: row;
}

.Apple {
  width: 10%;
  margin-top: 1%;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 90%;
}

.link {
  font-family: "Space Mono", monospace;
  font-weight: bolder;
  font-size: 1.25rem;
  text-decoration: none;
  color: black;
  margin: auto 5%;
}

.link:hover {
  color: white;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 84.5vh;
}

.right {
  width: 50%;
}

.right img {
  display: flex;
  width: 30%;
  margin: 20% auto;
  scale: 1.5;
  animation-name: device;
  animation-duration: 6s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

.right img:hover{
  animation-play-state: paused;
}

@keyframes device {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.left {
  width: 50%;
}

.h31 {
  margin-top: 10%;
  font-size: 3.125rem;
  font-family: "Space Mono", monospace;
  font-weight: bolder;
}

.p1 {
  margin-top: 3%;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  text-align: justify;
}

.h32 {
  margin-top: 3%;
  font-family: "Space Mono", monospace;
  font-weight: bolder;
  font-size: 1.875rem;
}

.button1 {
  margin-top: 3%;
  background-color: black;
  border-radius: 10px;
  border: none;
  width: 20%;
}

.p2 {
  color: white;
  font-family: "Space Mono", monospace;
  font-weight: bolder;
}

.p2:hover {
  color: rgba(47, 214, 117, 1);
}